@using OnlineShop.Model.ViewModel.User
@model List<UserViewModel>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>سفارشات</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">جداول داده</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>نام و نام خانوادگی</th>
                                    <th>سفارش </th>
                                    <th>آدرس</th>
                                    <th>قابلیت ها</th>

                                </tr>
                            </thead>
                            @foreach(var user in Model)
                            {
                                <tr>
                                    <td> @user.Id </td>
                                    <td> @user.FullName </td>
                                    <td> @user.Order </td>
                                    <td> @user.Address </td>
                                    <td style="display: flex; ">
                                        <span style="display: inline-block; margin-right:3px;">
                                            <button type="button" style="width: 80px;" class="btn btn-block btn-danger custom-btn">حذف</button>
                                        </span>
                                        <span style="display: inline-block; margin-right: 4px;">
                                            <button id="btnLoadPartial" type="button" style="width: 80px;" class="btn btn-block btn-warning custom-btn">ویرایش </button>
                                        </span>
                                        <span style="display: inline-block; margin-right: 4px;">
                                            <button type="button" style="width: 80px;" class="btn btn-block btn-info">جزئیات </button>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnLoadPartial").click(function () {
                $.ajax({
                    url: '@Url.Action("LoadPartialView", "Home")', // آدرس اکشن که Partial View را بارگذاری می‌کند
                    type: 'GET',
                    success: function (data) {
                        // جایگزینی محتوای div با داده‌های برگشتی از Partial View
                        $("#partialViewContainer").html(data);
                    },
                    error: function () {
                        alert("خطا در بارگذاری Partial View");
                    }
                });
            });
        });
    </script>
}