@using OnlineShop.Model.ViewModel.Product
@model List<ProductViewModel>
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>سفارشات</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-left">
                        <li class="breadcrumb-item"><a href="#">خانه</a></li>
                        <li class="breadcrumb-item active">جداول داده</li>
                    </ol>
                </div>
               
            </div>
        </div>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body">
                        <a asp-action="Create" asp-controller="ManageProduct" style="color:white;" class="btn btn-primary float-left mb-3 "> ساخت محصول</a>
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>نام محصول </th>
                                    <th>تصویر محصول </th>
                                    <th>توضیحات محصول </th>
                                    <th>موجودی</th>
                                    <th>دسته بندی</th>
                                    <th>قابلیت ها</th>
                                </tr>
                            </thead>
                            @foreach (var product in Model)
                            {
                                <tr>
                                    <td> @product.Id </td>
                                    <td> @product.Name </td>
                                    <td> <img style="width:66px; height:50px;" src="@product.ImagePath" alt="Product Image" /> </td>
                                    <td> @product.Description </td>
                                    <td> @product.Existence </td>
                                    <td> @product.CategoryName </td>
                                    <td>
                                        <span style="display: inline-block; margin-right:3px;">
                                            <button type="button" style="width: 80px;" class="btn btn-block btn-danger custom-btn">حذف</button>
                                        </span>
                                        <span style="display: inline-block; color:white; margin-right: 4px;">
                                            <a asp-controller="ManageProduct" asp-action="Edit" asp-route-id="@product.Id" type="button" style="width: 80px;" class="btn btn-block btn-warning custom-btn">ویرایش </a>
                                        </span>
                                        <span style="display: inline-block; margin-right: 4px;">
                                            <button type="button" style="width: 80px;" class="btn btn-block btn-info">جزئیات </button>
                                        </span>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>